.module {
    float: left;
    width: 200px;
    height: 120px;
    background-color: #000035;
    border:1px solid lightgrey;
	margin: 4px 4px 4px 4px;
	border-radius: 8px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#altitudes {
  display: inline-block;
  padding: 5px;
  margin: auto;
}


.mlabel {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.mvalue {
  font-weight: bold;
  font-size: 30px;
  font-family: 'B612';
  text-align: center;
  width: 200px;
  height: 50px;
  color: white;
}

.system {
	float: left;
	width: 200px;
	background-color: #000035;
	padding: 5px 5px 5px 5px;
	margin: 3px 3px 3px 3px;
	border:1px solid lightgrey;
	border-radius: 8px;
}

.data_container {
  float: left;
  background-color: #000035;
  color: #06e03c;
  font-family: 'B612';
  font-size: 13px;
  line-height: 0.5;
  padding: 15px 15px 15px 15px;
  border:1px solid lightgrey;
  border-radius: 8px;
}

.system_status {
  color: red;
  font-family: 'B612';
}

#keydata {
  float: right;
}

.navball {
  width: 300px;
  height: 300px;
}

.systems {
  float: left;
  padding: 5px 5px 5px 5px;
}

@font-face {
  font-family: 'B612';
  src: url('B612.ttf');
}

em {
	color: white;
	font-weight: bold;
}

html {
	width: 100%;
	height: 100%;
	background-color: black;
}


#chart_container {
		margin: 30px, 30px, 30px, 30px;
}
